.overflowS {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
.overflowDot {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.marginC {
  margin: 0 auto;
}
@-webkit-keyframes wiggle {
  10% {
    -webkit-transform: rotate(3deg) scale3d(1.1, 1.1, 1.1);
    transform: rotate(3deg) scale(1.1);
  }
  20% {
    -webkit-transform: rotate(-3deg) scale3d(1.1, 1.1, 1.1);
    transform: rotate(-3deg) scale(1.1);
  }
  30% {
    -webkit-transform: rotate(3deg) scale3d(1.1, 1.1, 1.1);
    transform: rotate(3deg) scale(1.1);
  }
  40% {
    -webkit-transform: rotate(-3deg) scale3d(1.1, 1.1, 1.1);
    transform: rotate(-3deg) scale(1.1);
  }
  50% {
    -webkit-transform: rotate(3deg) scale3d(1.1, 1.1, 1.1);
    transform: rotate(3deg) scale(1.1);
  }
  60% {
    -webkit-transform: rotate(-3deg) scale(1.1);
    transform: rotate(-3deg) scale(1.1);
  }
  70% {
    -webkit-transform: rotate(0deg) scale3d(1.1, 1.1, 1.1);
    transform: rotate(0deg) scale(1);
  }
  to {
    -webkit-transform: rotate(0deg) scale3d(1.1, 1.1, 1.1);
    transform: rotate(0deg) scale(1);
  }
}
@keyframes wiggle {
  10% {
    -webkit-transform: rotate(3deg) scale3d(1.1, 1.1, 1.1);
    transform: rotate(3deg) scale(1.1);
  }
  20% {
    -webkit-transform: rotate(-3deg) scale3d(1.1, 1.1, 1.1);
    transform: rotate(-3deg) scale(1.1);
  }
  30% {
    -webkit-transform: rotate(3deg) scale3d(1.1, 1.1, 1.1);
    transform: rotate(3deg) scale(1.1);
  }
  40% {
    -webkit-transform: rotate(-3deg) scale3d(1.1, 1.1, 1.1);
    transform: rotate(-3deg) scale(1.1);
  }
  50% {
    -webkit-transform: rotate(3deg) scale3d(1.1, 1.1, 1.1);
    transform: rotate(3deg) scale(1.1);
  }
  60% {
    -webkit-transform: rotate(-3deg) scale(1.1);
    transform: rotate(-3deg) scale(1.1);
  }
  70% {
    -webkit-transform: rotate(0deg) scale3d(1.1, 1.1, 1.1);
    transform: rotate(0deg) scale(1);
  }
  to {
    -webkit-transform: rotate(0deg) scale3d(1.1, 1.1, 1.1);
    transform: rotate(0deg) scale(1);
  }
}
.rule-btn {
  width: 1.15rem;
  position: fixed;
  right: 0.15rem;
  top: 5.5rem;
  z-index: 50;
  animation-name: wiggle;
  -webkit-animation-name: wiggle;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
